@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
    outline : none;
    margin: 0;
}

body{
    overflow: hidden;
}
#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 슬라이더 기본 스타일 */
input[type="range"] {
  -webkit-appearance: none; /* 기본 스타일 제거 */
  appearance: none;
  width: 200px; /* 필요에 따라 조절 */
  height: 15px;
  background: #ddd; /* 배경 색상 */
  outline: none; /* 포커스 테두리 제거 */
  opacity: 0.7; /* 투명도 */
  transition: opacity .2s;
  z-index: 1000; /* z-index 설정 */
  transform: rotate(-90deg); /* 세로 방향으로 변경 */
  transform-origin: 50% 50%; /* 회전 중심 설정 */
  position: fixed;
  top: 140px;
  right: -60px;
}

/* 호버 시 슬라이더 투명도 변경 */
input[type="range"]:hover {
  opacity: 1;
}

/* 슬라이더 트랙 스타일 */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
}

/* 슬라이더 핸들 스타일 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px; /* 핸들을 트랙 중앙에 맞춤 */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

/* 추가 스타일 필요 시 추가 */

/* 슬라이더 핸들 스타일 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50; /* 핸들 색상 */
  cursor: pointer; /* 커서 포인터 */
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* 모달 창 스타일 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* 모달 콘텐츠 스타일 */
.modal-content {
  background-color: #fefefe;
  position: fixed;
  bottom: -100px;
  right: 10%;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* 배너 이미지 스타일 */
#loginBanner {
  background-image: url(./data/loginImage/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% + 4vw); /* 부모 padding을 무시하기 위해 넓이 조정 (7% * 2) */
  height: 0; /* 높이는 padding-bottom으로 설정 */
  padding-bottom: calc(100% / 2.6); /* 1280x500 비율을 유지하도록 높이 설정 */
  position: relative; /* position을 relative로 설정 */
  left: -2vw; /* padding의 반대 값만큼 좌측으로 이동 */
  margin-top: -4.0vh; /* 상단 padding을 무시하기 위해 위로 이동 */
  margin-bottom: 2vh; /* 필요에 따라 하단 여백 추가 */
  box-sizing: border-box;
}

/* loginBannerFront 이미지 스타일 */
#loginBannerFront {
  background-image: url(./data/loginImage/bush_front.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  width: 100%;
  height: 40vh; /* 뷰포트 높이의 25% */
  right: -40vw;
  bottom: -17vh;
  z-index: 2;
  box-shadow: none; /* 그림자 제거 */
}

/* loginContent 스타일 */
#loginContent {
  width: 55vw;
  right: 21vw;
  top : -11vh;
  padding: 2vw;
  border: none;
}

/* loginModal 스타일 */
#loginModal {
  background-image: url(./data/loginImage/bush_back.png);
  background-size: contain;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center; /* 이미지 중앙 정렬 */
  overflow: hidden; /* 경계를 벗어난 부분 숨김 */
}
#loginForm input,#signupForm input{
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #E7F2F6;
  height: 30px;
  padding-left: 10px;
}
#loginBtn,#signupForm button{
  border: 1px solid transparent;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #5FDAFE;
  height: 34px;
  margin-top: 10px;
  margin-left: 10px;
}
#loginBtns{
  /* display: flex; */
}
.casher {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#game-content{
  width: 80%;
  height: 70%;
  bottom: -20%;
  border: none;
  /* background-color: none; */
}
.Speech1 {
  background-color: #fefefe;
  position: fixed;
  bottom: -100px;
  right: 10%;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-mypage {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  /* left: 300px; */
  z-index: 1;
  top: 0;
  right: 21%;
}

.close-mypage:hover,
.close-mypage:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#openModal {
  position: absolute;
  right: 18%;
  top: 10px;
  transform: translateX(-50%);
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
}
.mypagemodal-bg {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.mypagemodal{
  width: 66.7%;
  height: 68%;
  position: absolute;

}
.page-modal-content {
  background-color: rgb(222, 232, 244);
  width: 80%;
  height: 100%;
  border-radius: 20px 0px 20px 20px ;
}
.tab {
  width: 20%; /* 탭의 너비를 설정합니다 */
  height: 50%; /* 전체 높이 */
  position: absolute;
  right:0;
  top: 0;

}

.tab button {
  display: block; /* 버튼을 블록 요소로 만들어 세로로 배치합니다 */
  background-color: rgb(222, 232, 244);
  color: black;
  border: 10px;
  width: 90%;
  height: 20%;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Pretendard-Regular';
  /* font-size: 16px; */
  border-radius: 0px 20px 20px 0px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  /* float: left;
  padding: 0 12px; */
  width: 100%; /* 탭 내용의 너비 */
  height: 100%;
  border-right: none;
  
}

.page-inner {
  width: 80%;
  height: 75%;
  padding: 8% 10%;
  position: relative;
}

.profile{
  width: 20%;
  height: 40%;
  position: absolute; 
}
.profile-box{
  width: 80%;
  height: 60%;
  border-color: black;
  border-radius: 5px;
  background-color: white;
}

.profile h2{
  font-family: 'Pretendard-Regular';
}

.sticker-box {
  background-color: #e0f0ff;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  height: 40%;
  position: absolute;
  right: 7%;
  top: 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

thead th {
  padding: 1.5%;
  text-align: left;
}

thead th.header-cell {
  background-color: #add8e6;
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Pretendard-Regular';
}

tbody td {
  width: 14%;
  height: 45px;
  border: 1px dotted #ccc;
}

.npc-box {
  background-color: #e0f0ff;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  height: 30%;
  position: absolute;
  right: 14%;
  bottom: 10%;
}

thead th.first-cell {
  background-color: #add8e6;
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Pretendard-Regular';
}


.sticker-box img {
  scale: 80%;
}
