@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
    outline : none;
    /* margin: 0; */
}

body{
    overflow: hidden;
}
#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
#BtnMaps {
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;

  /* 화면 전체를 덮도록 고정 위치 설정 */
  top: 0;
  /* 화면의 최상단으로 위치 */
  left: 0;
  /* 화면의 최좌측으로 위치 */
  background-image: url(./data/mappage/tpbg.png);
  background-size: cover;
  /* 백그라운드 이미지를 전체에 맞추어 확대/축소 */
  background-repeat: no-repeat;
  /* 이미지를 반복하지 않음 */
  background-position: center;
  /* 백그라운드 이미지가 중앙에 위치하도록 설정 */

  /* display: flex; */
  /* Flexbox를 사용 */
  flex-direction: column;
  justify-content: center;
  /* 수평 중앙 정렬 */
  align-items: center;
  /* 수직 중앙 정렬 */

  display: none;
  /* 필요에 따라 주석 해제 가능 */
}
#BtnMaps button{
  padding: 30px;
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
  margin-top: 200px;
  width: 262px;
  height: 242px;
  border: 1px solid;
  border-radius: 30px 30px 0 0;
  background-size: cover;
  border: 1px solid transparent;
}
#buttonNo{
  position: absolute;
  top:100px;
  right: 200px;
  width: 92px !important;
  height: 60px !important;
  border: 1px solid transparent;
  border-radius: 30px !important;
  padding: 5px !important;
  margin: auto !important;
  background-color: #ffffff;
}
#BtnMaps h1{
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 10px 150px;
}
.SceneTag{
  border: 1px solid transparent;
  border-radius: 30px;
    position: relative;
    top: -125px;
    background-color: #FFFEFA;
    padding: 10px 20px;

}
/* 슬라이더 기본 스타일 */
input[type="range"] {
  -webkit-appearance: none; /* 기본 스타일 제거 */
  appearance: none;
  width: 200px; /* 필요에 따라 조절 */
  height: 15px;
  background: #ddd; /* 배경 색상 */
  outline: none; /* 포커스 테두리 제거 */
  opacity: 0.7; /* 투명도 */
  transition: opacity .2s;
  z-index: 1000; /* z-index 설정 */
  transform: rotate(-90deg); /* 세로 방향으로 변경 */
  transform-origin: 50% 50%; /* 회전 중심 설정 */
  position: fixed;
  top: 140px;
  right: -60px;
}

/* 호버 시 슬라이더 투명도 변경 */
input[type="range"]:hover {
  opacity: 1;
}

/* 슬라이더 트랙 스타일 */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
}

/* 슬라이더 핸들 스타일 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px; /* 핸들을 트랙 중앙에 맞춤 */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

/* 추가 스타일 필요 시 추가 */

/* 슬라이더 핸들 스타일 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50; /* 핸들 색상 */
  cursor: pointer; /* 커서 포인터 */
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.loginModal1 {
  background-image: url(./data/loginImage/mainimage.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 100%;
  height: 1080px;
}

/* 모달 창 스타일 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* 모달 콘텐츠 스타일 */
.modal-content {
  /* background-color: #fefefe; */
  position: fixed;
  /* bottom: -100px; */
  right: 10%;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.textModal{
  bottom: -100px;
}
/* metaverse.css */

#loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./data/loginImage/loading.png);
  background-size: cover;
  background-position: center;
  /* color: black; */
  display: none;
  /* Flexbox 컨테이너로 설정 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  align-items: center;
  /* 수직 중앙 정렬 */
  z-index: 9999;
  /* 다른 요소 위로 표시되도록 설정 */
  flex-direction: column;
  /* 세로로 정렬 */
}

#loadimg {
  display: block;
  position: relative;
  top:20%;
  left: -15%;
  z-index: 10000;
  animation: fade 2s infinite; /* 애니메이션 적용 */
}

@keyframes fade {
  0% {
    opacity: 0; /* 처음엔 투명 */
  }
  50% {
    opacity: 1; /* 중간에 불투명 */
  }
  100% {
    opacity: 0; /* 다시 투명 */
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#loadback{
  width: 70%;
  height: 40%;
  margin: auto;
  background-color: #FBFBFB;
  text-align: center;
}
#loadback .h1{
  margin-top: 100px;
}
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 200px; /* 텍스트 아래에 공간 추가 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#intro{
  position:relative;
  top: 230px;
  left: -600px;
  color: #7E5001;
}
#loadingPage h1 {
  font-size: 24px;
}

/* loginContent 스타일 */
#loginContent {
  position: absolute;
  /* width: 55vw; */
  /* right: 35vw; */
  top : 0px;
  left:100px;
  padding: 2vw;
  border: none;
  display: flex;
  justify-content:baseline;
  align-items: center;
  background-color: none;
  margin: 0 250px 0 0 !important;
}
#loginContent h2{
  margin: 0px 20px;
    margin: 0px 20px;
    position: relative;
    top: 15px;
}
#loginContent h2:hover{
  box-shadow: 1px 1px 20px #ddd;
}

#login-logo{
  justify-content: center;
  margin: 0px 20px;
}
#loginpage{
  top: 250px;
  left: 738px;
  position: absolute;
  display: none;
}
#loginpage h1{
  position: relative;
  left: -140px;
  margin-bottom: 20px;
}
#signupPage{
    margin: auto;
    position: absolute;
    top: 200px;
    left: 738px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 377px;
}
#signupPage h1{
    position: relative;
      left: -6vw;
      margin-bottom: 20px;
}
#signupPage h4{
  margin: 0;
}
#signupForm{
  width: 377px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
}
#signupForm div{
  text-align: left;
}
#signupForm button{
  margin: 0px 0 !important;
  margin-top: 30px !important;
  height: 41px !important;
}
#signupForm input{
  padding-left: 5px !important;
  margin: 5px !important;
  height: 41px !important;
}
input[type="radio"] {
  display: none;
}
#signupForm label{
  
}
#gender{
  display: flex;
  flex-direction: row;
}
.genderbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  width: 26px;
  border: 1px solid #faf4da;
  border-radius: 30px;
  background-color: #faf4da;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  /* 버튼 안의 텍스트 크기 설정 */
}

input[type="radio"]:checked+.genderbutton {
  background-color: #4caf50;
  color: white;
}
/* 애니메이션을 위한 원형 요소 */
.circle-overlay {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -50%;
  left: 50%;
  background-color: white; /* 흰 배경 */
  border-radius: 50%;
  transform: translate(-50%, 0%);
  transition: width 1s ease, height 1s ease;
  z-index: 2;
}

/* 애니메이션 활성화 시 크기 확대 */
.expand-circle {
  width: 200%;
  height: 200%;
}


/* loginModal 스타일 */
#loginModal {
  /* background-image: url(./data/loginImage/mainbg.png); */
  background-image: url(./data/loginImage/loginbg.png);
  background-size: auto;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center;
  overflow: hidden; /* 경계를 벗어난 부분 숨김 */
  text-align: center;
  z-index: 1000;
  color: #AC6E03;
}
#loginModal input::placeholder{
  color: #7E5001;
}
#loginModal #characters {
  z-index: 10001;
  user-drag: none;
  /* 이미지 드래그 방지 */
  pointer-events: none;
  /* 클릭 이벤트 방지 */
  position: fixed;
  bottom: -40px;
  /* left: 1000px; */
  /* 부모 요소의 아래에서 550px 위로 */
  transform: translateX(-50%);
  /* 중앙 정렬 */
}
#loginModal #mini_characters {
  z-index: 10001;
  user-drag: none;
  /* 이미지 드래그 방지 */
  pointer-events: none;
  /* 클릭 이벤트 방지 */
  position: fixed;
  bottom: 100px;
  left: 500px;
  /* 부모 요소의 아래에서 550px 위로 */
  transform: translateX(-50%);
  /* 중앙 정렬 */
  display: none;
}
/* 새로운 백그라운드 이미지 */
.login-background {
  background-image: url(./data/loginImage/loginbg.png)!important; /* 교체할 이미지 */
}
.main-background{
  background-image: url(./data/loginImage/mainbg.png) !important;
    /* 교체할 이미지 */
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-15 16:7:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    /* 애니메이션 시작 시 투명하게 */
  }

  to {
    opacity: 1;
    /* 애니메이션 끝날 때 완전히 보임 */
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
  /* 1초 동안 페이드 인 효과 적용, 애니메이션 종료 시 최종 상태 유지 */
}
/* 원래 애니메이션 */
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    background-size: 100%;
    background-image: url('./data/loginImage/main.png');
    -webkit-transform: scaleY(0.4);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  50% {
    background-size: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  51% {
    background-image: url('./data/loginImage/loginbg.png');
    background-size: 100%;
  }

  100% {
    background-size: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

@keyframes scale-up-ver-bottom {
  0% {
    background-size: 100%;
    background-image: url('./data/loginImage/mainbg.png');
    -webkit-transform: scaleY(0.4);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  50% {
    background-size: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  51% {
    background-image: url('./data/loginImage/loginbg.png');
    background-size: 100%;
  }

  100% {
    background-size: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

/* 반대 방향 애니메이션 */
@-webkit-keyframes scale-down-ver-bottom {
  0% {
    background-size: 100%;
    background-image: url('./data/loginImage/loginbg.png');
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  50% {
    background-size: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  51% {
    background-image: url('./data/loginImage/mainbg.png');
    background-size: 100%;
  }

  100% {
    background-size: 100%;
    -webkit-transform: scaleY(0.4);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

@keyframes scale-down-ver-bottom {
  0% {
    background-size: 100%;
    background-image: url('./data/loginImage/loginbg.png');
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  50% {
    background-size: 150%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  51% {
    background-image: url('./data/loginImage/mainbg.png');
    background-size: 100%;
  }

  100% {
    background-size: 100%;
    -webkit-transform: scaleY(0.4);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

/* 애니메이션을 적용할 클래스 */
.scale-up-ver-background {
  -webkit-animation: scale-up-ver-bottom 1s ease-out forwards;
  animation: scale-up-ver-bottom 1s ease-out forwards;
}

.scale-down-ver-background {
  -webkit-animation: scale-down-ver-bottom 1s ease-out forwards;
  animation: scale-down-ver-bottom 1s ease-out forwards;
}

#loginForm input,#signupForm input{
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #faf4da;
  height: 36px;
  width: 230px;
  padding-left: 30px;
  margin: 5px;
}
#loginBtn,#signupForm button{
  border: 1px solid transparent;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f4d034;
  height: 88px;
  width: 88px;
  margin-left: 60px;
}
#signupComplete{
  display: none;
    width: 500px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
    left: -50px;
}
#signupComplete h1{
  position: relative;
  left: 0;
}
#signupComplete button{
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 10px 20px;
  background-color: #FFCE00;
}
#regBtn,#findBtn{
  background-color: transparent;
  border: none;
  color: #989898;

}
#loginBtns{
  /* display: flex; */
}
.casher {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}
#recordButton{
  /* display: none; */
}
#game-content{
  width: 80%;
  height: 70%;
  bottom: -20%;
  border: none;
  /* background-color: none; */
}
.Speech1 {
  background-color: #ffffff;
  opacity: 90%;
  position: fixed;
  bottom: 50px;
  right: 18%;
  /* margin: 15% auto; 15% from the top and centered */
  padding: 30px 30px;
  /* padding-top: 0px; */
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 35px;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 200px;
  font-size: 35px;
}
#speechText{
  margin: 0;;
}#buttonGroup{
}
.choose{
  /* position: relative; */
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
  /* top: -600px; */
  /* right: -80%; */
  width: 650px;
  height: 500px;
  width: 500px;
  /* top: 100px; */
  position: absolute;
  right: -200px;
  top: -520px;
  justify-content: flex-end;
}
.choose button{
  font-size: 35px;
  padding: 10px 35px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 20px;

}
.npc_name{
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 50px;
  background-color: #4CAF50;
  padding: 20px 80px;
  width: 200px;
  height: 30px;
  position: relative;
  top: -50px;
}
/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-mypage {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  /* left: 300px; */
  z-index: 1;
  top: 0;
  right: 21%;
}

.close-mypage:hover,
.close-mypage:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#openModal {
  position: absolute;
  right: 18%;
  top: 10px;
  transform: translateX(-50%);
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  /* display: none; */
}

.mypagemodal-bg {
  display: none;
  justify-content: center;  /* 중앙에 가로로 정렬 */
  align-items: flex-start;  /* 컨테이너의 위쪽에 정렬 */
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;  /* 스크롤을 방지하고 넘치는 콘텐츠를 숨김 */
  background-color: rgba(0, 0, 0, 0.6);  /*회색으로 쓰지말고 블랙/화이트로 넣을 것*/
  padding: 20px;  /* 모달 내부에 패딩을 추가하여 가장자리와의 간격을 확보 */
  box-sizing: border-box;  /* 패딩을 포함한 전체 크기 계산 */
  margin: -8px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;  /* 이미지들을 가로로 중앙에 정렬 */
  justify-content: flex-start;  /* 이미지들을 위쪽에 쌓이도록 설정 */
  gap: 20px;  /* 이미지 간의 간격을 조정 */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.image-container img {
  position: absolute; /* 자식 이미지에 권한 부여 */
  max-width: 100%; 
  height: auto;
  width: auto;
  max-height: calc(100vh - 30px);  
  /* 모달 전체 높이에 맞게 최대 높이를 설정 */
  /* object-fit: contain;   */
  /* 이미지의 비율을 유지하면서 컨테이너에 맞춤 */
}

#stickerbook00{
  scale: 82%;
  /* padding-top: 13.5%; */
  top: 1080%;
  left: 53.5%;

}

#stickerbook01{
  scale: 82%;
  top: 1080%;
  left: 66.2%;
}

#closesticker{
  scale: 82%;
  top: 500%;
  left: 77.5%;
  z-index: 12;
}
#closesticker1{
  scale: 78%;
  /* bottom: 745px; */
  bottom: 1180px;
  left: 82.8%;
  z-index: 12;
}
#closesticker2{
  scale: 78%;
  left: 82.8%;
  z-index: 12;
  bottom: 1615px;
}
#closesticker3{
  scale: 78%;
  left: 82.8%;
  z-index: 12;
  bottom: 1154px;
}
#closesticker4{
  scale: 78%;
  left: 82.8%;
  z-index: 12;
  bottom: 1130px;
}
#closesticker5{
  scale: 78%;
  left: 82.8%;
  z-index: 12;
  bottom: 735px;
}
#closesticker6{
  scale: 78%;
  left: 82.8%;
  z-index: 12;
  bottom: 735px;
}

#bgim{
  width: 100%;
  height: auto;
}

.tabcontent {
  display: none; /* 기본적으로 모든 탭 콘텐츠는 숨김 */
  padding: 20px;
  border-top: none;
  position: relative; /* z-index가 적용되도록 설정 */
  z-index: 10; /* 다른 요소들보다 위에 표시되도록 설정 */
  top: 0; /* 상단 정렬 */
  margin: 0 auto; /* 가운데 정렬 */
  max-width: 80%; /* 최대 너비 설정 */
  box-sizing: border-box; /* 전체 크기를 계산할 때 padding 포함 */
}

.data {
  padding: 20px;
  margin-top: 0; /* 스티커북 탭의 상단 여백 제거 */
}

.data img {
  position: relative; /* z-index가 적용되도록 설정 */
  z-index: 11; /* 탭 콘텐츠보다 더 위에 표시되도록 설정 */
  max-width: 100%;
}


/* 첫 번째 이미지 스타일 */
#DataTab img:first-child {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 9;                  /* 두 번째 이미지보다 아래에 위치하도록 설정 */
  order: 2;                    /* Flexbox 순서 변경: 아래로 이동 */
}

/* #databtn 이미지 스타일 */
#activebtn {
  display: block;              /* block 요소로 설정하여 중앙 정렬 가능 */
  position: relative;          /* 중앙 정렬을 위해 상대적 위치 설정 */
  z-index: 11;                 /* 첫 번째 이미지보다 위에 표시되도록 설정 */
  max-width: 100%;             /* 이미지가 컨테이너를 넘지 않도록 제한 */
  height: auto;                /* 이미지 비율 유지 */
  order: 1;                    /* Flexbox 순서 변경: 위로 이동 */
  margin-bottom: 10px;         /* 첫 번째 이미지와의 간격 추가 */
  bottom: 584px;
  scale: 76.3%;
  left: 202px;
}
#talkbtn {
  display: block;              /* block 요소로 설정하여 중앙 정렬 가능 */
  position: relative;          /* 중앙 정렬을 위해 상대적 위치 설정 */
  z-index: 11;                 /* 첫 번째 이미지보다 위에 표시되도록 설정 */
  max-width: 100%;             /* 이미지가 컨테이너를 넘지 않도록 제한 */
  height: auto;                /* 이미지 비율 유지 */
  order: 1;                    /* Flexbox 순서 변경: 위로 이동 */
  margin-bottom: 10px;         /* 첫 번째 이미지와의 간격 추가 */
  bottom: 1022.5px;
  scale: 76.3%;
  left: 742px;
}
#schoolbtn {
  display: block;              /* block 요소로 설정하여 중앙 정렬 가능 */
  position: relative;          /* 중앙 정렬을 위해 상대적 위치 설정 */
  z-index: 11;                 /* 첫 번째 이미지보다 위에 표시되도록 설정 */
  max-width: 100%;             /* 이미지가 컨테이너를 넘지 않도록 제한 */
  height: auto;                /* 이미지 비율 유지 */
  order: 1;                    /* Flexbox 순서 변경: 위로 이동 */
  margin-bottom: 10px;         /* 첫 번째 이미지와의 간격 추가 */
  bottom: 584px;
  scale: 76.3%;
  left: 307px;
}
#communicationbtn {
  display: block;              /* block 요소로 설정하여 중앙 정렬 가능 */
  position: relative;          /* 중앙 정렬을 위해 상대적 위치 설정 */
  z-index: 11;                 /* 첫 번째 이미지보다 위에 표시되도록 설정 */
  max-width: 100%;             /* 이미지가 컨테이너를 넘지 않도록 제한 */
  height: auto;                /* 이미지 비율 유지 */
  order: 1;                    /* Flexbox 순서 변경: 위로 이동 */
  margin-bottom: 10px;         /* 첫 번째 이미지와의 간격 추가 */
  bottom: 569px;
  scale: 76.3%;
  left: 300px;
}

/* #clickball{
  bottom: 962px;
  bottom: 527px;
  scale: 78%;
  left: 230px;
  z-index: 15;
}  */

/* #showball{
  bottom: 952px;
  left: 125px;
  scale: 75%;
  display: none;
  z-index: 16;
} */

#ballexplain{
  bottom: 676px;
  scale: 76%;
  left: 675px;
  /* display: none; */
  z-index: 17;
}